.contact-info {
    background: rgb(31, 31, 31);
    background-size: 20px;
    height: 5rem;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 6px 3rem 2rem 4rem;
}

.contact-info .caption {
    color: white;
    padding-bottom: 1rem;
}

.contact-info h1 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.contact-info p {
    font-size: 22px;
    padding-bottom: 10px;
}

.contact-info .details p{
    font-size: 22px;
    font-weight: 550;
}

.details {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 20px 0 0 35rem;
    margin-top: -390px;
}

.details .remote {
    padding-top: 20px;
    text-decoration-line: underline;
}

@media screen and (max-width: 960px) {
    .contact-info .details{
        min-height: 194vh;
    }
}