/* Top half of the home section */
.home-section .home-top {
  background-color: rgb(0, 20, 136);
  background-size: auto;
  width: 100%;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  padding: 22px 3rem 2rem 4rem;
}

.home-section .home-top .remote {
  color: rgb(230, 230, 230);
  padding-top: 20px;
  text-decoration-line: underline;
}

.home-section .home-top h1 {
  color: rgb(230, 230, 230);
}

.home-section .home-top h2 {
  color: rgb(230, 230, 230);
  padding-top: 16px;
}

.home-section .home-top p {
  color: rgb(255, 255, 255);
  padding-top: 14px;
}


/* Bottom half of the home section */
.home-section .home-bottom {
  padding: 22px 3.5rem 0 4rem;
}

.home-section .home-bottom h1 {
  color: black;
}

.home-section .home-bottom h2 {
  color: black;
}

.home-section .home-bottom p {
  color: black;
  padding-top: 6px;
  line-height: 22px;
}

