* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    padding: 0;
    display: flex;
    text-align: left;
    justify-content: left;
    flex-direction: column;
    
}

.main-container {
    min-height: 71vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 1;
    padding-bottom: 2rem;
  }

.home,
.resume,
.contact,
.projects{
    padding: 22px 3rem 2rem 4rem;
    text-align: left;
    justify-content: center;
}

/* Prevents horizontal scrolling when window width is reduced as well */
@media screen and (max-width: 960px) {
    html {
        box-sizing: border-box;
        overflow-x: hidden;
    }
}
